{% extends "base_template/base_tamplate.html" %}
{% load static %}

  {% block title %}Crear clase{% endblock %}

  {% block custom_css %}
  {% endblock %}

{% block content %}
<div class="container">
      <div class="card panding">
        <div class="card-header" >
          <h5 class="card-title">Creación de día</h5>
        </div>

<div class="card-body">
<form method="post">
	{% csrf_token %}
	
	{{form.as_p}}
	<input class ="btn btn-success" type="submit" value="Crear horario">	
</form>
</div>
</div>
<a  href="{% url 'exercise:list_day' exercise.id %}"><center>Ir a lista de días</center></a>
</div>
<br>
{% endblock %}


{% block custom_js %}
{% endblock %}
