{% extends "base_template/base_tamplate.html" %}s
{% load static %}

{% block title %}Lista de días{% endblock %}

  {% block content %}

          <div class="container mt-4">
          {% if messages %}
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                  <p>{{ message }}</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endfor %}
          {% endif %}

            <a class="btn btn-warning" href="{% url 'exercise:create_day'  exercise.id %}"> Añadir día</a>
          </div>

          <div class="container">

          <table class="table panding" style="margin: 30px 0px;">
          <thead class="thead-light">
            <tr>
                <th colspan="5"><strong>DÍAS</strong> de {{exercise.name}} </th>

            </tr>
            <tr>
                <!--<th>Id</th>-->
                <th>Nombre</th>
                <th colspan="4" class="text-center">Acción</th>
            </tr>
          </thead>
          <tbody>
            {% if days %}
              {% for day in days%}
                  <tr>
                  <!-- <td hidden>{{exercise.id}}</td> -->
                      <td>{{day.name}}</td>
                      <td><a class="btn btn-primary" href="{% url  'exercise:list_hour' exercise.id day.id %}">Ver horas</a></td>

                      <!-- Boton de que permite eliminar el dia-->
                      <td> 
                        <button type="button" class="btn btn-danger" data-toggle="modal"data-target="#eliminar{{day.id}}">Eliminar
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id=eliminar{{day.id}} tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">¿Está seguro de eliminar este días?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">                          
                                <strong>Recordatorio:</strong> al eliminar un día se eliminarán  las horas asociadas a este día.
                              </div> 
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <a class="btn btn-primary" href="{% url  'exercise:delete_day' exercise.id day.id %}">Aceptar</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                  </tr>
              {% endfor %}

            {%else%}
            <tr>
                  <!-- <td hidden>{{exercise.id}}</td> -->
                      <td>No hay días disponibles</td>
            </tr>
            
            {% endif %}
          </tbody>
          </table>
          <a  href="{% url 'exercise:update_exercise_form' exercise.id %}"><center>Ir a modificación del ejercicio</center></a>
          </div>
          <br>
  {% endblock %}

