{% extends "base_template/base_tamplate.html" %}
{% load static %}

  {% block title %}Crear clase{% endblock %}

  {% block custom_css %}
  {% endblock %}

{% block content %}
<div class="container">
  <div class="card panding">
    <div class="card-header" >
      <h5 class="card-title">Creación de clases</h5>
    </div>
    <div class="card-body">
          <div class="container">
                <form method="POST" autocomplete="off">
                  {% csrf_token %}
                  <div class="row">
                    {{form.non_field_errors}}
                  </div>

                  {{form.as_p}}
                  <input class='btn btn-success' type="submit" value="Crear clase">
                </form>
          </div>
        </div>
  </div>
<a  href="{% url 'lesson:create_lesson_form' exercise.id %}"><center>Ir a lista de clases</center></a>
        </div>
        <br>
{% endblock %}


{% block custom_js %}
{% endblock %}