{% extends "base_template/base_userconfiguration_template.html" %}
{% load static %}

{% block custom_css %}
<style>
  h2 {
    font-family: verdana, sans-serif;
    font-Size: 30px;
    font-Weight: ligther;
    font-Style: normal;
    pandding: 30px;
    margin: 30px;
  }
</style>
{% endblock %}

<title>{% block title %}Clases del usuario{% endblock %}</title>

{% block sidebar %}
<div class="sidebar">
  <h4 class="text-center"><strong>Actualizando</strong></h4>
  <a class="active" href="{% url 'content_user:user_configuration_class' exercise_det.id %}">Clases</a>
  <a href="{% url 'content_user:user_configuration_plan' exercise_det.id %}">Resumen</a>
  <a href="{% url 'content_user:user_configuration_history' exercise_det.id %}">Historial</a>
  <a  href="{% url 'content_user:user_configuration_reset' exercise_det.id %}">Reiniciar</a>
  <a  href="{% url 'content_user:modific_user_form' user_to_modific.id %}">Volver</a>
</div>
{% endblock %}

{% block content %}
  <button id="exercise_id" hidden>{{exercise_det.id}}</button>
  <div class="container mt-4">
    <h2 class="text-center"><strong>{{exercise_det.name|title }}</strong> - Clases del usuario</h2>
    <h5>Username: {{user_to_modific.username}}</h5>
    <h5>Nombre: {{user_to_modific.first_name}}</h5>
    <h5>Apellido: {{user_to_modific.last_name}}</h5>
    <br/>

    <!-- Buscador de clases -->
        <form method="post">
          {% csrf_token %}
          {{form.non_field_errors}}
              {{form.since.errors}}
              <div class="form-group row">

                <label class="col-2 col-form-label" for="{{form.since.id_for_label}}">Desde:</label>
                <div class="col-1">
                  <input  type="date" name="{{form.since.name}}" id="form.since.id_for_label">
                  
                </div>  
              </div>  

              {{form.until.errors}}
              <div class="form-group row">
                <label class="col-2 col-form-label" for="{{form.since.id_for_label}}">Hasta:</label>
                <div class="col-1">
                  <input  type="date" name="{{form.until.name}}" id="form.since.id_for_label">
                </div> 
              </div>
              <input class ="btn btn-primary" type="submit" value="Buscar">
        </form>
      <br>
    {% if messages %}
      {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
            <p>{{ message }}</p>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
      <div class="table-responsive">
        <table class="table panding" style="margin: 30px 0px;">
        <thead class="thead-light">
          <tr>
                <th colspan="5">Lista de clases</th>
                <th colspan="3">Escriba un id:<input type="text" id="caja" onkeyup="buscar()"></th>
            </tr>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Tipo</th>
                <th>Cant</th>
                <th colspan="3" >Acción</th>
            </tr> 
        </thead>
        <tbody id="contenido">
            {% if lessons %}
              {% for lesson in lessons%}
                  <tr>
                  <td >{{lesson.id}}</td>
                      <td>{{lesson.day_lesson|date:"l. M d, Y"}}</td>
                      <td>{{lesson.hour_lesson}}</td>
                      <td>
                        {% if user_to_modific  in lesson.id_user_fk.all %}
                          Normal
                        {%else%}
                          Devolución
                        {%endif%}
                      </td>
                      <td>{{lesson.cant_in}}/{{lesson.cant_max}}</td>

                      <!-- Boton de que marca la leccion como vista -->
                      <td> 
                        <button type="button" class="btn btn-success" data-toggle="modal"data-target="#user_saw_lesson{{lesson.id}}">Vista
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id=user_saw_lesson{{lesson.id}} tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">¿Está seguro que quiere colocarla como vista?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <!-- <div class="modal-body">                          
                                
                              </div>  -->
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <a class="btn btn-primary"  href="{% url 'content_user:saw_lesson' lesson.id exercise_det.id %}">Aceptar</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>

                      <!-- Boton  que permite actualizar la leccion-->
                      <td><a class="btn btn-primary" target="_blank" href="{% url 'lesson:update_lesson' lesson.id %}">Actualizar</a></td>

                       <!-- Boton  que permite eliminar la leccion-->
                      <td> 
                        <button type="button" class="btn btn-danger" data-toggle="modal"data-target="#user_delete_lesson{{lesson.id}}">Eliminar
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id=user_delete_lesson{{lesson.id}} tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">¿Está seguro que quiere eliminar esta lección?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>

                              <div class="modal-body">                          
                                <p><strong>Recordatorio: </strong>al eliminar una lección se sacarán todos los usuarios que está dentro de ella.
                                  </p>
                              </div>

                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <a class="btn btn-primary"  href="{% url 'content_user:delete_lesson' lesson.id exercise_det.id %}">Aceptar</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                  </tr>
              {% endfor %}
            {%else%}
                  <tr>
                    <td >No hay clases</td>
                  </tr>
            {%endif%}
        </tbody>
        </table>
    </div>
  </div>
{%endblock%}

{% block custom_js %}
  <script src="{% static 'js/users/user_configuration/lessons.js' %}"></script>
{% endblock %}