<!doctype html>
{% extends "base_template/base_tamplate.html" %}

{% load static %}

  {% block title %}Registro de usuario{% endblock %}


      {% block content %}
      <div class="container p-3 my-3 bg-dark text-white border-0">
        <form method="POST">
          {% csrf_token %}
          {{form.password2.errors}}
            <div class="row">
              <input type="password" class="col-6 col-md-4" name="password" id="password" placeholder="Nueva contraseña" size="20" maxlength="20" required>
            </div>
            <div class="row">
              <input type="password" class="col-6 col-md-4" name="password2" id="password2" placeholder="repita contraseña" size="20" maxlength="20" required>
            </div>
          <br>

            <button type="submit">cambiar contraseña</button>
        
      </form>
    </div>
    {% endblock %}