{% extends "base_template/base_tamplate.html" %}s
{% load static %}

  {% block title %}Lista de usuarios{% endblock %}

  {% block content %}
  <button id="boolean" hidden>deactive</button>
  <div class="container">
    <div class="table-responsive">


        <table class="table panding" style="margin: 30px 0px;">
          <thead class="thead-light">
            <tr>
                <th colspan="5" onkeyup="buscar()">Lista de usuarios</th>
                <th colspan="1"><input type="text" id="caja" onkeyup="buscar()"></th>
            </tr>
            <tr>
                <!--<th>Id</th>-->
                <th>Username</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>c.i</th>
                <th colspan="2" class="text-center">Acción</th>
            </tr>
          </thead>
          <tbody id="contenido">
              {% for user in users%}
                <tr>
                  <td hidden>{{user.id}}</td>
                  <td>{{user.username}}</td>
                  <td>{{user.first_name}}</td>
                  <td>{{user.last_name}}</td>
                  <td>{{user.ci}}</td>
                  <td><a class="btn btn-success" href="{% url 'content_user:unlock_user' user.id %}">Desbloquear</a></td>
                  <td> 
                        <button type="button" class="btn btn-danger" data-toggle="modal"data-target="#eliminar{{user.id}}">Eliminar
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id=eliminar{{user.id}} tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">¿Está seguro que quiere eliminar el usuario?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <p><strong>Recordatorio: </strong>al eliminar un usuario se sacará de los historiales en donde aparece.
                                  </p>
                                  <p>
                                  A continuación va a eliminar al usuario con el username ""{{user.username}}"".
                                </p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <a class="btn btn-primary"  href="{% url 'content_user:delete_user' user.id %}">Aceptar</a>
                              </div>
                            </div>
                          </div>
                        </div>
                  </td>
                </tr>
                {% endfor %}
          </tbody>
          </table>
          </div>
        </div>
        <br>

  {% endblock %}

{% block custom_js %}
  <script src="{% static 'js/users/usuarios_activos_bloqueados.js' %}"></script>
{% endblock %}
