<!doctype html>
{% extends "base_template/base_tamplate.html" %}


  {% block title %}Modificación de usuario{% endblock %}
      {% block content %}
      <div class="container ">
        <div class="card panding">
        <div class="card-header" >
          <h5 class="card-title">Modificar usuario</h5>
        </div>
        <div class="card-body">
        <form method="POST" autocomplete="off">
          {% csrf_token %}
            <!-- this attribute is declared as "hidden", check form to see -->
            {{form.primarykey}}
            <div class="row">
              <input type="text" class="col-6 col-md-4 align-center" name="username" id="username" placeholder="username" size="28" maxlength="20" required value="{{form.username.value}}">
              {{form.non_field_errors}}
              {{form.username.errors}}
           </div>

            <div class="row">
              <input type="text" class="col-6 col-md-4" name="first_name" id="name" placeholder="nombre" size="28" maxlength="20" pattern="[a-zA-Z]+" required value="{{form.first_name.value}}">
            </div>

            <div class="row">
              <input type="text" class="col-6 col-md-4" name="last_name" id="lastname" placeholder="apellido" size="28" maxlength="20" pattern="[a-zA-Z]+" required value="{{form.last_name.value}}">
            </div>

            <div class="row">
              <input type="text" class="col-6 col-md-4" name="ci" id="ci" placeholder="c.i" pattern="[0-9]{0,9}" maxlength="9" required value="{{form.ci.value}}">
            </div>

            <div class="row">
                      <input type="text" class="col-6 col-md-4" pattern="[0-9]{0,11}" name="phone_number" placeholder="teléfono" minlength="11" maxlength="11" required value="{{form.phone_number.value}}">
            </div>
          <br>
            <button class='btn btn-primary' type="submit">actualizar usuario</button>

      </form>
      <a  href="{% url 'content_user:change_password_form' 1  %}">Cambiar contraseña</a>
    </div>
    </div>


  <div class="row">
  <div  class="text-center panding" style="box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.4);">
    <table border="3" >
      <thead>
        <th colspan="2">EJERCICIOS</th>
      </thead>
      <tbody>
        {% for exercises_det in exercises_det_list %}
          <tr>
            <td>{{exercises_det.name}}</td>
            <td><a class="btn btn-success" href='{% url "content_user:exercise_configuration" exercises_det.id %}'>Ver</a></td>
          </tr>
        {%endfor%}
      </tbody>
    </table>
    </div>
    </div>
</div>
    {% endblock %}
