<!doctype html>
{% extends "base_template/base_tamplate.html" %}

{% load static %}

  {% block title %}Lista de planes{% endblock %}

  {% block content %}
  <div class="container mt-4">
    <a class="btn btn-warning" href="{% url 'Plan:create_plan_form' %}">Crear plan</a></td>
  </div>

        {% for k , v in diccionario_planes.items%}
        <div class="container mt-4">
        <table class="table">
          <thead class="thead-light">
            <tr>
                <th colspan="5">Planes de {{k}}</th>
            </tr>
            <tr>
                <!--<th>Id</th>-->
                <th>Nombre</th>
                <th>Dias al mes</th>
                <th>Oportunidades de cambio</th>
                <th colspan="2">Acción</th>
            </tr>

          </thead>
          <tbody>
              {% for plan in v %}
                  <tr>
                    <!--<td>{{plan.pk}}</td>-->
                    <td>{{plan.name}}</td>
                    <td>{{plan.total_days}}</td>
                    <td>{{plan.oportunities}}</td>
                    <td><a class="btn btn-primary" href="{% url 'Plan:update_plan_form' plan.id %}">Actualizar</a></td>
                    <td><a class="btn btn-danger" href="{% url 'Plan:delete_plan_form' plan.id %}">Eliminar</a></td>
                  </tr>
              {% endfor %}
            </tbody>
            </table>
          </div>
          <br>
        {% endfor %}

  {% endblock %}
