{% extends "base_template/base_tamplate.html" %}
{% load static %}
{% load plan_extras %}  <!-- custom tags filter -->


  {% block title %}Lista de planes{% endblock %}

  {% block content %}


        <div class="container mt-4">
          <a class="btn btn-warning" href="{% url 'Plan:create_plan_form' exercise.id %}">Crear plan</a>
        </div>



            <div class="container mt-4">
            <!-- El mensaje -->
            {% if messages %}
              {% for message in messages %}
              <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                    <p>{{ message }}</p>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% endfor %}
            {% endif %}

            <div class="table-responsive">
            <table class="table" style="box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.4);"> 
              <thead class="thead-light">
                <tr>
                    <th colspan="6">Planes de {{exercise.name}}</th>
                </tr>
                <tr>
                    <!-- <th>Id</th> -->
                    <th>Nombre</th>
                    <th>Dias al mes</th>
                    <th>Oportunidades de cambio</th>
                    <th colspan="3" class="text-center">Acción</th>
                </tr>
              </thead>
              <tbody>
                {%if plans %}
                
                  {% for plan in plans %}
                      <tr>
                        <!-- <td>{{plan.pk}}</td> -->

                        <td>{{plan.name}}</td>
                        <td>{{plan.total_days}}</td>
                        <td>{{plan.oportunities}}</td>
                        <td><a class="btn btn-ver"     href="{% url 'Plan:see_plan' plan.id %}">Ver</a></td>
                        <td><a class="btn btn-primary" href="{% url 'Plan:update_plan_form' plan.id %}">Actualizar</a></td>
                        <td><!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#{{plan.id}}">
                              Eliminar
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id={{plan.id}} tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">¿Está seguro?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <p><strong>RECORDATORIO: </strong>Los usuarios que tienen este plan en uso no pueden tener clases programadas para poder realizar la eliminación.</p>

                                    {%if dic_plans_id|get_value_from_dict:plan.id %}
                                      <p><strong>ADVERTENCIA: </strong>Este plan tiene  a:
                                      <br> 

                                      {%for user in dic_plans_id|get_value_from_dict:plan.id%}
                                       <ul> 
                                        <li>
                                          <a target="_blank" href="{% url 'content_user:modific_user_form' user.id %}">{{user.username}}</a>
                                          </li>
                                        </ul>
                                      {%endfor%}
                                      <br> 
                                      en estado "No reiniciar".
                                        
                                        
                                       Al eliminarlo se le asignará el plan ninguno pero {%if dic_plans_id|get_value_from_dict:plan.id > 1 %}  conservarán  {%else%}  conservará {%endif%} los datos.</p>
                                        
                                    {%endif%}
                                    
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <a class="btn btn-primary"  href="{% url 'Plan:delete_plan' plan.id %}">Aceptar</a>

                                  </div>
                                </div>
                              </div>
                            </div>
                          </td>
                      </tr>
                      <!-- <td><a class="btn btn-danger"  href="{% url 'Plan:delete_plan' plan.id %}">Eliminar</a></td> -->
                  {% endfor %}
                  {%else%}
                      <tr>
                        <td>No hay Planes</td>
                      </tr>
                  {%endif%}
                </tbody>
                </table>
              </div>
            <a  href="{% url 'exercise:update_exercise_form' exercise.id %}"><center>Ir a modificación del ejercicio</center></a>
          </div>
          <br>


{% endblock %}
