{% extends "base_template/base_tamplate.html" %}
{% load static %}

  {% block title %}Actualización de plan{% endblock %}


      {% block content %}
      <div class="container">
      <div class="card panding">
        <div class="card-header" >
          <h5 class="card-title">Actualizar plan</h5>
        </div>

        <div class="card-body">
        <form method="POST">
          {% csrf_token %}

          {{form.non_field_errors}}

            {{form.primarykey}} <!--plan's pk, i declared this variable hidden, i used this in the form.py to do a query -->

            <div class="row">
              <label for="{{form.name.id_for_label}}">Nombre:</label>
              <input type="text" class="col-6 col-md-4" name="{{form.name.name}}" id="{{form.name.id_for_label}}" value="{{form.name.value}}"placeholder="nombre del plan" size="28" maxlength="20" required>
            </div>

            <div class="row">
              <label for="{{form.total_days.id_for_label}}">Tolta de dias:</label>
              <input type="number" name="{{form.total_days.name}}"  min=0 max=28 value="{{form.total_days.value}}" id="{{form.total_days.id_for_label}}" required>
            </div>

            <div class="row">
              <label for="{{form.oportunities.id_for_label}}">Oportunidades:</label>
              <input type="number" name="{{form.oportunities.name}}"  min=0 max=28 value="{{form.oportunities.value}}" id="
              {{form.oportunities.id_for_label}}" required>
            </div>


                <div class="row">
                  <label for="{{form.description.id_for_label}}">Description:
                  <textarea  rows="3" cols="25" name="{{form.description.name}}" id="{{form.description.id_for_label}}">{{form.description.value}}</textarea>
                  </label>
                </div>



            <div class="row">
                <p>Este plan pertenece al ejercicio <strong>{{exercise.name}}</strong></p>
                {{form.id_exercise_fk}}<!-- i declared this variable hidden, i used this in the form.py to do a query -->
            </div>
            <br>
          <button class='btn btn-primary' type="submit">actualizar plan</button>
        </form>
      </div>
    </div>
    <a  href="{% url 'Plan:list_plan' exercise.id %}"><center>Ir a lista de planes</center></a>
    </div>
    <br>
    {% endblock %}
