{% extends "base_template/base_tamplate.html" %}
{% load static %}

{% block custom_css %}
<link   rel = "stylesheet" type="text/css" href="{% static 'css/users/Exercise_Configuration.css' %}">
<style>
  h2 {
    font-family: verdana, sans-serif;
    font-Size: 30px;
    font-Weight: ligther;
    font-Style: normal;
    pandding: 30px;
    margin: 30px;
  }
</style>
{% endblock %}

{% block content %}

<div class="sidebar">
  <h4 class="text-center"><strong>Actualizando</strong></h4>
  <a class="active" href="{% url 'content_user:exercise_configuration_class' exercise_det.id %}">Clases</a>
  <a href="{% url 'content_user:exercise_configuration_plan' exercise_det.id %}">Plan</a>
  <a href="{% url 'content_user:exercise_configuration_history' exercise_det.id %}">Historial</a>
  <a  href="{% url 'content_user:exercise_configuration_reset' exercise_det.id %}">Reiniciar</a>
  <a  href="{% url 'content_user:modific_user_form' user_to_modific.id %}">Volver</a>

</div>

<div class="content">
  <div class="container mt-4">
    <h2 class="text-center">Configurando las clases del usuario</h2>
    <h5>Username: {{user_to_modific.username}}</h5>
    <h5>Nombre: {{user_to_modific.first_name}}</h5>
    <h5>Apellido: {{user_to_modific.last_name}}</h5>
    <br/>

    <form>
      <label for="">Fecha inicial</label>
      <input type="date" id="" name="">
      <label for="">Fecha final</label>
      <input type="date" id="" name="">
      <input  class="btn btn-success" type="submit" value="Buscar">
    </form>

      <div class="table-responsive">


        <table class="table panding" style="margin: 30px 0px;">
        <thead class="thead-light">
          <tr>
              <th colspan="7">Lista de clases por ver</th>

          </tr>
          <tr>
              <!--<th>Id</th>-->
              <th>Fecha</th>
              <th>Hora</th>
              <th>Tipo</th>
              <th>cantidad</th>
              <th colspan="3" class="text-center">Acción</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
        </table>
    </div>
  </div>
      <br>
</div>

{%endblock%}
