{% extends "base_template/base_tamplate.html" %}s
{% load static %}
{% load plan_extras %}

{% block title %}Lista de ejercicios{% endblock %}

  {% block content %}
      <div class="container mt-4">

        <!-- El mensaje -->
      {% if messages %}
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
              <p>{{ message }}</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
      {% endif %}

        <a class="btn btn-warning" href="{% url 'exercise:create_exercise_form' %}">Crear ejercicio</a>

        <div class="table-responsive">
          <table class="table panding" style="margin: 30px 0px;">
          <thead class="thead-light">
            <tr>
                <th colspan="5">Lista de ejercicios</th>

            </tr>
            <tr>
                <!--<th>Id</th>-->
                <th>Nombre</th>
                <th colspan="4" class="text-center">Acción</th>
            </tr>
          </thead>
          <tbody>
            {% if exercises %}
              {% for exercise in exercises%}
                  <tr>
                  <!-- <td hidden>{{exercise.id}}</td> -->
                      <td>{{exercise.name}}</td>

                       <!-- Boton de que permite reiniciar a los usuarios-->
                      <td> 
                        <button type="button" class="btn btn-bloquear" data-toggle="modal"data-target="#reiniciar{{exercise.id}}">Reiniciar
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id=reiniciar{{exercise.id}} tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">¿Está seguro de reiniciar a todos los usuarios?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">                          
                                 <strong>Recordatorio:</strong> para reiniciar un ejercicio no pueden haber usuarios con clases programadas.
                              </div> 
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <a class="btn btn-primary" href="{% url 'content_user:reset_users' exercise.id %}">Aceptar</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>

                      <td><a class="btn btn-ver"     href="{% url 'exercise:see_exercise' exercise.id %}">Ver</a></td>
                      <td><a class="btn btn-primary" href="{% url 'exercise:update_exercise_form' exercise.id %}">Actualizar</a></td>

                      <!-- Boton de que permite eliminar el ejercicio-->
                      <td> 
                        <button type="button" class="btn btn-danger" data-toggle="modal"data-target="#eliminar{{exercise.id}}">Eliminar
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id=eliminar{{exercise.id}} tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">¿Está seguro de eliminar el ejercicio?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">                          
                                <p><strong>Recordatorio:</strong> al eliminar un ejercicio se eliminaran los objetos relacionados a este, los cuales son: <strong> planes, horas, dias, lecciones y  historiales.</strong></p>
                                {%if dic_exercise_id|get_value_from_dict:exercise.id %}
                                <p>Hay usuarios con este ejercicio con clases programadas</p>
                                      <p><strong>ADVERTENCIA: </strong>Usuarios con clases programadas:
                                      <br> 

                                      {%for user in dic_exercise_id|get_value_from_dict:exercise.id%}
                                       <ul> 
                                        <li>
                                          <a target="_blank" href="{% url 'content_user:modific_user_form' user.id %}">{{user.username}}</a>
                                          </li>
                                        </ul>
                                      {%endfor%}
                                      <br> 

                                  {%endif%}
                              </div> 
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <a class="btn btn-primary" href="{% url 'exercise:delete_exercise' exercise.id %}">Aceptar</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>

                  </tr>
              {% endfor %}

            {%else%}
                  <tr>
                    <td >No hay ejercicios</td>
                  </tr>
            {%endif%}
          </tbody>
          </table>
          </div>
        <br>
          </div>
  {% endblock %}
<div class="modal-body">
                                    