{% load static %}
  <html lang="es">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="shortcut icon" href="{% static 'pictures/favinco.ico' %}" />
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
      <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>

      <style type="text/css">
        body{
          background-color: #212529;
        }
      </style>
       <title>Olvido de contraseña - Correo enviado</title>
    </head>

    <body>
        <div class="container">
          <div class="card panding">
            <div class="card-header" >
              <h5 class="card-title">La contraseña se ha cambiado con éxito</h5>
            </div>

            <div class="card-body">
              <h1 class="h3 text-gray-900 mb-4">¡Has cambiado la contraseña exitosamente incia sesión!</h1>
            </div>

          </div>
        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-migrate-1.4.1.min.js' %}"></script>
    <script src='{% static "js/bootstrap.min.js" %}'></script>

    </body>
</html>
