{% extends "base_template/base_tamplate.html" %}s


{% block title %}Lista de ejercicios{% endblock %}

  {% block content %}

        
        <div class="container mt-4">
          <a class="btn btn-warning" href="{% url 'lesson:create_hour' exercise.id %}">Crear plan</a>
        </div>
        
          <div class="container">

          <table class="table panding" style="margin: 30px 0px;">
          <thead class="thead-light">
            <tr>
                <th colspan="5">Horas de {{exercise.name}} </th>

            </tr>
            <tr>
                <!--<th>Id</th>-->
                <th>Nombre</th>
                <th colspan="4" class="text-center">Acción</th>
            </tr>
          </thead>
          <tbody>
              {% for hour in hours%}
                  <tr>
                  <!-- <td hidden>{{exercise.id}}</td> -->
                      <td>{{hour.hour_lesson}}</td>
                      <td><a class="btn btn-primary" href="{% url 'lesson:update_hour' hour.id %}">Actualizar</a></td>
                      <td><a class="btn btn-danger"  href="{% url 'lesson:delete_hour' hour.id %}">Eliminar</a></td>
                  </tr>
              {% endfor %}
          </tbody>
          </table>
          </div>
        <br>
  {% endblock %}
