{% extends "user_site/base_template/base_template.html" %}
{% load static %}

 {% block content %}
      <div class="container mt-4">

        

        <div class="card panding">
        <div class="card-header" >
          <h5 class="card-title">Cambio de contraseña</h5>
        </div>
        <div class="card-body">
        <form method="POST">
          {% csrf_token %}
          {{form.password2.errors}}
            <div class="row">
              <input type="password" class="col-6 col-md-4" name="password" id="password" placeholder="Nueva contraseña" size="20" maxlength="20" required>
            </div>
            <div class="row">
              <input type="password" class="col-6 col-md-4" name="password2" id="password2" placeholder="repita contraseña" size="20" maxlength="20" required>
            </div>
          <br>

            <button class="btn btn-primary" type="submit">cambiar contraseña</button>

      </form>
        </div>
      </div>
      </div>
    {% endblock %}
