{% extends "user_site/base_template/base_template.html" %}
{% load static %}

{% block title %}Contacto{% endblock %}


      {% block content %}
      <div class="container ">
      <div class="card panding">
        <div class="card-header" >
          <h5 class="card-title"><center>Contacto</center></h5>
        </div>
        

        <div class="card-body">
          <div class="container">

            <h6>Email: {{ contact.email }}</h6>
            <h6>Contacto: {{ contact.phone_number }}</h6>
            <h6>Dirección: {{ contact.direction }}</h6>
            
            
            
          </div>
        </div>
    </div>
    </div>
    {% endblock %}